fastapi
uvicorn[standard]
python-multipart
pymupdf
pdfplumber
pytesseract
pdf2image
Pillow
spacy
presidio-analyzer
presidio-anonymizer
usaddress
pyyaml
reportlab
zipfile36
openai
python-dotenv
requests
fast_mcp
mcp_use
