fastapi
uvicorn[standard]
python-multipart
pymupdf
pdfplumber
pypdfium2
pdf2image
Pillow
python-doctr
spacy
presidio-analyzer
presidio-anonymizer
usaddress
pyyaml
reportlab
zipfile36
openai
python-dotenv
requests
